
@{
    ViewData["Title"] = "Aggregate";
}

<h1>Aggregate</h1>

<form asp-controller="News">
    <a asp-action="AggregateNews">Aggregate</a>
    <a asp-action="Index" asp-controller="News"></a>
</form>