
@{
    ViewData["Title"] = "Aggregate";
}

<h1>Aggregate</h1>
<br />
<form asp-controller="News">
    <h3>Are you seriously want to update an States</h3>
    <button class="btn btn-primary" asp-action="Aggregate">Aggregate</button>
    <button class="btn btn-danger" asp-action="Index" asp-controller="News">Back</button>
</form>