@{
    ViewData["Title"] = "News Page";
}
@model ArticleMainPageModel

<h1>News</h1>
<form>
    <a asp-action="Aggregate">Update</a>
    <a asp-action="Index" asp-controller="Home">Back to home</a>
    <form asp-action="Search" method="get">
        <div style="display: flex; align-items: center; justify-content: center; flex-direction=row">
            <input class="form-control" type="text" name="q" placeholder="Search" />
            <button class="btn btn-primary" type="submit">Go</button>
        </div>
    </form>
</form>
<hr />
@foreach (var article in Model.AllArticles)
{
    <partial name="ArticlePreviewView" model="article" />
}
