<br>
<form tuiCardLarge tuiForm="m" [formGroup]="form" (ngSubmit)="login()">
    <header tuiHeader>
        Login
    </header>
    <br>
    <main>
        <tui-textfield tuiAnimated>
            <label tuiLabel>Email</label>
            <input tuiInput formControlName="email" placeholder="example@email.com" type="email"/>
        </tui-textfield>
        <br>
        <tui-error formControlName="email" />
        <br>
        <br>
        <tui-textfield tuiAnimated>
            <label tuiLabel>Password</label>
            <input tuiInput formControlName="password" placeholder="Your password" type="password"/>
        </tui-textfield>
        <br>
        <tui-error formControlName="password" />
    </main>
  <footer>
      <button tuiButton type="submit" [disabled]="!form.valid">Login</button>
      <button tuiButton appearance="secondary" routerLink="/register">Register</button>
  </footer>
</form>