
@{
    ViewData["Title"] = "Aggregate";
}

<h1>Aggregate</h1>
<br />
<form asp-controller="News" asp-action="ProcessAggregation" asp-antiforgery="false" method="post">
    <div>
        <h3>Do you want to update the wall?</h3>
    </div>
    <button class="btn btn-primary" type="submit">Aggregate</button>
    <button class="btn btn-danger" asp-action="Index" asp-controller="News">Back</button>
</form>