@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AnotherNewsPlatform.MVC.Models.Articles.ArticleViewModel

<h1>@Model.Title</h1>
<br />
<p>@Html.Raw(Model.Text)</p>
<br />
<h4>@Model.Source</h4>
