@using AnotherNewsPlatform.MVC.Models.Articles
@model ArticlePreviewModel

@{
    Layout = null;
}

<div class =" card col-sm-12 col-md-4">
    <div class="card-body">
        <div>
            <h3 class="card-title">@Model.Title</h3>
        </div>
        <div class="card-text">
            @Html.Raw(Model.Content)
        </div>
        <a class="btn btn-primary" href=@Model.OriginalUrl>Читать далее</a>
        <div>
            <p>Publish date: @Model.PublishDate</p>
        </div>
    </div>
</div>
