@using AnotherNewsPlatform.MVC.Models.Articles
@model ArticlePreviewModel

@{
    Layout = null;
}

<div class="card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card-body">
        <div>
            <h3 class="card-title">@Model.Title</h3>
        </div>
        <div class="card-text">
            @Html.Raw(Model.Content)
        </div>
        <a class="btn btn-primary" href="@Url.Action("ArticleView", "News", new{ id = Model.Id })">Читать далее</a>
        <br />
        <div>
            <p>Publish date: @Model.PublishDate</p>
        </div>
    </div>
</div>
