@model ArticlePreviewModel

@{
    Layout = null;
}

<div class ="card">
    <div>
        <h2>@Model.Title</h2>
    </div>
    <div>
        @Html.Raw(Model.Content)
    </div>
    <a class="btn btn-primary" href=@Model.OriginalUrl>Читать далее</a>
    <div>
        <p>Publish date: @Model.PublishDate</p>
    </div>
</div>
