@model AnotherNewsPlatform.MVC.Models.User.LoginModel
 <h2>Login</h2>
 <form asp-action="LoginProcess" asp-controller="User">
    <input type="email" name="Email" />
    <input type="password" name="Password" />
    <div>
        <button class="btn btn-primary" type="submit">Login</button>
        <button class="btn btn-secondary" asp-action="Register" asp-controller="User">Register</button>
    </div>
 </form>